@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --black: #000000;
    --white: #FFFFFF;
    --red: #E50914;
    --clear-red: #F50E1A;
    --blue: #0071EB;
    --gray: #929292;
    --dark-gray: #242424;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

header {
    align-items: flex-start;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1.2rem 0 0.4rem;
}

.header-cons {
    position: absolute;
    right: 10px;
    top: 3px;
    width: 320px;
    height: 68px;
    z-index: 5;
    display: inline-block;
}

h1,
h2 {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
}

.language__drop__down {
    background: transparent;
    border: none;
    color: gray;
    display: inline-block;
    text-align: center;
    margin: 0 0.75rem;
}

.language__drop__down:focus {
    outline: none;
}

.dropdown__container {

    border: 1px solid white;
    margin: 0 0.75rem;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    float: left;
    margin-left: 15px;
    top: 10px;
}

p {
    font-weight: 400;
    line-height: 1.4rem;
}

img,
video {
    width: 100%;
}

.links a:hover {
    text-decoration: underline;
}

.logo {
    height: 66px;
    width: 130px;
}

.btn-md {
    background-color: var(--red);
    border-radius: 4px;
    color: var(--white);
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    float: left;
    top: 12px;
    margin-left: 35px;
}

.btn-lg {
    background-color: var(--red);
    border: 0;
    border-radius: 2px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 300;
    height: 2.8rem;
    width: 8rem;
}

.btn-lg::after {
    background-size: 12px 12px;
    content: "";
    display: inline-block;
    margin-left: 7px;
    height: 12px;
    width: 12px;
}

.btn-lg:hover {
    background-color: var(--clear-red);
    cursor: pointer;
}

.box-lg {
    border: 0;
    margin-bottom: 0.8rem;
    height: 2.8rem;
    text-indent: 0.4rem;
    outline: none;
    width: 18rem;
}

.box-lg:focus {
    outline: 2px solid var(--blue);
}

.bg {
    background-image: url("assets/top-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 482px;
    width: 100vw;
    z-index: -1;
}

.shadow {
    background-image: linear-gradient(rgba(12, 12, 12, 1), rgba(12, 12, 12, 0.2),
            rgba(12, 12, 12, 1));
    position: absolute;
    top: 0;
    height: 482px;
    width: 100vw;
}

.splits {
    background-color: var(--dark-gray);
    border: 0;
    height: 8px;
}

.main-section,
.tv-section,
.mobile-section,
.device-section,
.kids-section,
.faq-section,
.links-section {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3.125rem 1rem;
    text-align: center;
}

.main-section {
    height: auto;
    padding: 3.125rem 0 4rem 0;
}

.texts {
    margin-bottom: 1rem;
}

.membership p {
    margin: 0 auto 0.4rem auto;
    width: 15rem;
}

.membership form {
    position: relative;
}

.membership label {
    color: var(--gray);
    position: absolute;
    left: 1.5rem;
    top: 0.85rem;
    font-size: 0.8rem;
}

.tv {
    position: relative;
}

.tv img {
    display: block;
    position: relative;
    z-index: 2;
}

.tv video {
    display: block;
    position: absolute;
    top: 2.8rem;
    left: 2.4rem;
    width: 73%;
    z-index: 1;
}

.mobile {
    position: relative;
}

.mobile img {
    display: block;
}

.card {
    background-color: var(--black);
    border: 1px solid var(--gray);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    height: 66px;
    width: 94%;
}

.card img {
    width: 40px;
}

.card p {
    margin-right: 2rem;
    text-align: left;
    line-height: 1.2rem;
}

.title {
    font-size: 0.8rem;
}

.downloading {
    color: var(--blue);
    font-size: 0.7rem;
}

.device {
    position: relative;
}

.device img {
    display: block;
    margin-top: 1rem;
    position: relative;
    z-index: 2;
}

.device video {
    display: block;
    position: absolute;
    top: 2.46rem;
    left: 3.4rem;
    width: 61%;
    z-index: 1;
}

.kids img {
    display: block;
    margin-top: 1rem;
}


div.faq {
    padding: 70px 30px;
}

div.faq h1 {
    font-size: 1.625rem;
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (min-width:550px) {
    div.faq h1 {
        font-size: 3.125rem;
    }
}

div.questions {
    max-width: 635px;
    margin: 0 auto;
    font-size: 1rem;
}

@media screen and (min-width:550px) {
    div.questions {
        font-size: 1.625rem;
    }
}

div.question {
    position: relative;
    background-color: #303030;
    margin-bottom: 10px;
}

div.question svg {
    width: 30px;
    height: 30px;
    right: 30px;
    top: 20px;
    position: absolute;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

div.question .header {
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

div.question div.answer {
    padding: 0 30px;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    transition: all 0.2s ease;
}

div.question input[type="checkbox"] {
    display: none;
}

div.question input[type="checkbox"]:checked~div.answer {
    padding: 30px 30px;
    max-height: 600px;
}

div.question input[type="checkbox"]:checked~.header svg {
    transform: rotate(180deg);
}

div.faq h3 {
    font-weight: normal;
    text-align: center;
    margin: 40px 0 20px;
}

div.faq form {
    max-width: 635px;
    margin: 0 auto;
}

div.faq form div+div {
    text-align: center;
}

ul li p {
    background-color: var(--dark-gray);
    text-align: left;
}

ul li p .inner {
    padding: 1.2rem;
}

.p2 p:first-child {
    margin-bottom: 1rem;
}

.m-faq {
    margin-top: 2rem;
}

.m-faq p {
    margin-bottom: 1rem;
}

.closed {
    display: none;
}

.links-section {
    height: auto;
    padding: 3.125rem 0;
    text-align: left;
    margin: 3rem 0 1rem 0;
    position: relative;
    width: 100%;
}

.links ul {
    display: grid;
    grid-template-columns: auto auto;
}

.links ul li {
    list-style-type: none;
    margin: 0.5rem 0.6rem 0.5rem 0;
}

.links ul li a {
    color: var(--gray);
    font-size: 0.7rem;
    text-decoration: none;
}

.links-1 {
    order: 3;
}

.links-2 {
    order: 4;
}

.links-3 {
    order: 1;
}

.links-4 {
    order: 2;
}

.links-section p:first-child {
    color: var(--gray);
    position: absolute;
    top: 1rem;
}

.links-section p a {
    color: var(--gray);
    text-decoration: none;
}

.links-section p a:hover {
    text-decoration: underline;
}

.links-section p:last-child {
    color: var(--gray);
    font-size: 0.7rem;
    position: absolute;
    bottom: 1rem;
}

.footer__row__3>.dropdown__container {
    width: fit-content;
    margin-left: 49%;
    border: 1px solid #757575;
    color: #757575;
}

.footer__row__3>.dropdown__container>.language__drop__down {
    color: #757575;
}

.footer__row__4 {
    color: var(--gray);
    font-size: 0.7rem;
    position: absolute;
    bottom: 1rem;
}

@media only screen and (min-width: 375px) {
    h1 {
        font-size: 1.8rem;
    }

    .box-lg {
        text-indent: 0.5rem;
        width: 21rem;
    }

    .bg {
        height: 448px;
    }

    .shadow {
        height: 448px;
    }

    .membership p {
        width: 20rem;
    }

    .membership label {
        left: 0.5rem;
    }

    .main-section,
    .tv-section,
    .mobile-section,
    .device-section,
    .kids-section,
    .faq-section {
        padding: 3.125rem 1.5rem;
    }

    .tv video {
        width: 74%;
    }

    .card {
        bottom: 1rem;
        width: 88%;
    }

    .device video {
        width: 63%;
    }

    .faq-section {
        padding: 3.125rem 0;
    }

    .m-faq label {
        left: 2rem;
    }

    .m-faq .box-lg {
        text-indent: 0.8rem;
    }

    .links ul li {
        margin: 0.5rem 0.8rem 0.5rem 0;
    }

    .links ul li a {
        font-size: 0.8rem;
    }

    .links-section p:last-child {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 425px) {
    h1 {
        font-size: 1.7rem;
    }

    .main-section {
        padding: 4rem 0;
    }

    .box-lg {
        text-indent: 0.8rem;
        width: 24rem;
    }

    .bg {
        height: 475px;
    }

    .shadow {
        height: 475px;
    }

    .membership label {
        left: 2rem;
    }

    .tv video {
        width: 75.8%;
    }

    .inner {
        padding-left: 1.2em;
        padding-right: 1.2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .card {
        width: 70%;
    }

    .device video {
        left: 3.9rem;
        width: 64%;
    }

    .links ul li {
        margin: 0.5rem 1rem 0.5rem 0;
    }

    .links ul li a {
        font-size: 0.9rem;
    }

    .links-section p:last-child {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 768px) {
    header {
        padding: 0.8rem 3rem 0 2.2rem;
    }

    h1 {
        font-size: 3rem;
        margin: 0 auto 1rem auto;
        line-height: 3.5rem;
        width: 70%;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
    }

    .btn-md {
        padding: 0.4rem 1rem;
    }

    .btn-lg {
        height: 2.4rem;
    }

    .box-lg {
        height: 3rem;
        width: 32rem;
    }

    .bg {
        height: 684px;
    }

    .shadow {
        height: 684px;
    }

    .tv-section,
    .mobile-section,
    .device-section,
    .kids-section,
    .faq-section {
        padding: 4rem 1.8rem;
    }

    .main-section {
        padding: 9rem 0;
    }

    .main-section p {
        font-size: 1.2rem;
    }

    .membership p {
        width: 26rem;
    }

    .membership form {
        margin: 0 auto;
        width: 80%;
    }

    .membership label {
        left: 4rem;
    }

    .texts-tv {
        position: relative;
        top: 2rem;
        z-index: 3;
    }

    .tv img {
        margin: 0 auto;
        width: 98%;
    }

    .tv video {
        top: 6rem;
        left: 5.5rem;
        width: 72%;
    }

    .card {
        bottom: 2.5rem;
        height: 80px;
        width: 65%;
    }

    .card img {
        width: 50px;
    }

    .text-card {
        position: relative;
        right: 3.5rem;
    }

    .title {
        font-size: 0.9rem;
    }

    .downloading {
        font-size: 0.8rem;
    }

    .texts-mobile {
        position: relative;
        top: 2rem;
        z-index: 3;
    }

    .device img {
        margin: 0 auto;
        width: 98%;
    }

    .device video {
        top: 3rem;
        left: 7.4rem;
        width: 61%;
    }

    .kids img {
        margin: 0 auto;
        width: 98%;
    }

    .faq h1 {
        font-size: 2.5rem;
        width: 100%;
    }

    .questions {
        padding: 0 1rem;
    }

    .closed {
        max-width: 612px;
    }

    .questions h3 {
        padding: 0.7rem 1.5rem;
    }

    .questions ul li h3 {
        max-width: 450px;
        font-size: 1.5rem;
        padding: 1.2rem 2rem;
        margin-left: 20%;
    }


    .answer {
        padding: 1.5rem;
    }

    .answer p {
        font-size: 1rem;
    }

    .inner {

        padding-left: 1.2em;
        padding-right: 1.2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

    }

    ul li p {
        text-align: left;
        width: 63%;
        margin-left: 20%;
        margin-right: 25%;
    }

    .m-faq label {
        font-size: 0.9rem;
        top: 0.9rem;
        left: 1rem;
    }

    .m-faq .box-lg {
        text-indent: 0.9rem;
    }

    .links ul {
        grid-template-columns: auto auto auto auto;
        grid-gap: 0 3rem;
    }

    .links ul li a {
        font-size: 0.7rem;
    }

    .links-1 {
        order: 1;
    }

    .links-2 {
        order: 2;
    }

    .links-3 {
        order: 3;
    }

    .links-4 {
        order: 4;
    }

    .links-section p:first-child {
        font-size: 0.9rem;
    }

    .links-section p:last-child {
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        padding: 0.8rem 4rem 0 3.2rem;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .logo {
        width: 150px;
    }

    .btn-md {
        font-size: 0.9rem;
        padding: 0.5rem 1.1rem;
    }

    .btn-lg {
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        height: 3.5rem;
        width: 14rem;
        position: relative;
        top: 2px;
        right: 4px;
    }

    .btn-lg::after {
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
        margin-left: 10px;
        position: relative;
        top: 2px;
    }

    .box-lg {
        font-size: 1.1rem;
        height: 3.5rem;
        width: 28rem;
    }

    .bg {
        height: 686px;
    }

    .shadow {
        height: 686px;
    }

    .texts h1 {
        margin-bottom: 1.3rem;
    }

    .texts p {
        margin-bottom: 2.2rem;
        font-size: 1.5rem;
    }

    .membership p {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    .membership label {
        font-size: 1.1rem;
        left: 3.2rem;
        top: 1.1rem;
    }

    .tv-section {
        flex-direction: row;
        padding: 1rem 1rem 3rem 3rem;
        justify-content: space-between;
    }

    .texts-tv {
        top: 0;
        text-align: left;
        width: 45%;
    }

    .tv img {
        width: 480px;
    }

    .tv video {
        top: 4.6rem;
        left: 4rem;
        width: 73%;
    }

    .mobile-section {
        flex-direction: row;
        padding: 1rem 3rem 3rem 0;
    }

    .texts-mobile {
        order: 2;
        text-align: left;
        top: 0;
        width: 60%;
    }

    .mobile {
        order: 1;
    }

    .mobile img {
        width: 80%;
    }

    .card {
        bottom: 0.5rem;
        border-radius: 15px;
        height: 100px;
        width: 60%;
        margin: 0 auto;
        left: 12.7rem;
    }

    .card img {
        width: 60px;
    }

    .card p {
        margin-right: 0;
    }

    .text-card {
        left: 0.2rem;
    }

    .title {
        font-size: 1rem;
    }

    .downloading {
        font-size: 0.9rem;
    }

    .device-section {
        flex-direction: row;
        padding: 3rem 0 3rem 3rem;
    }

    .texts-device {
        text-align: left;
        width: 70%;
    }

    .device video {
        top: 2.2rem;
        left: 5.8rem;
    }

    .kids-section {
        flex-direction: row;
        padding: 2rem 3rem;
    }

    .texts-kids {
        order: 2;
        text-align: left;
        width: 62%;
    }

    .kids {
        order: 1;
    }

    .faq-section {
        padding: 2rem 0;
    }

    .faq h1 {
        font-size: 2.8rem;
    }

    .questions {
        padding: 0;
    }

    .answer {
        padding: 2rem;
    }

    .answer p {
        font-size: 1.5rem;
    }

    .closed {
        max-width: 676px;
        padding: 0.7rem 1.5rem;
    }

    .questions ul li h3 {
        font-size: 1.5rem;
        padding: 1.2rem 2rem;
        margin-left: 25%;
    }

    .plusImage {
        width: 38px;
    }

    .m-faq label {
        left: 0.9rem;
    }

    .m-faq form {
        margin: 0;
        width: 100%;
    }

    .m-faq form .btn-lg {
        position: relative;
        top: 3px;
    }

    ul li p {
        background-color: var(--dark-gray);
        text-align: left;
        width: 59%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .questions ul li h3 {
        max-width: 650px;
    }

    .inner {
        padding-left: 1.2em;
        padding-right: 1.2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .links ul {
        grid-gap: 0 6rem;
    }

    .links ul li a {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1440px) {
    h1 {
        font-size: 3.4rem;
    }

    header {
        max-width: 1800px;
        margin: 0 auto;
    }

    .logo {
        height: auto;
        width: 170px;
    }

    .btn-md {
        text-align: center;
        padding: 0.5rem 1rem;
    }

    .btn-lg {
        height: 4rem;
    }

    .box-lg {
        height: 4rem;
        width: 30rem;
    }

    .bg {
        height: 700px;
    }

    .shadow {
        height: 700px;
    }

    .texts p {
        font-size: 1.7rem;
    }

    .membership label {
        left: 5.4rem;
        top: 1.3rem;
    }

    .tv-section {
        padding: 2rem 0;
        max-width: 1100px;
        margin: 0 auto;
    }

    .mobile-section {
        margin: 0 auto;
        max-width: 1100px;
        padding: 2rem 0 4.5rem 0;
    }

    .texts-mobile {
        width: 70%;
    }

    .mobile img {
        width: 100%;
        position: relative;
        right: 4.5rem;
    }

    .card {
        left: 11.5rem;
        bottom: 1.5rem;
        width: 70%;
    }

    .card img {
        width: 60px;
        position: relative;
        right: 0;
    }

    .device-section {
        margin: 0 auto;
        max-width: 1100px;
        padding: 4rem 0;
    }

    .kids-section {
        margin: 0 auto;
        max-width: 1100px;
        padding: 3rem 0;
    }

    .faq-section {
        padding: 3rem 0;
    }

    .closed {
        min-width: 850px;
    }

    ul li p {
        background-color: var(--dark-gray);
        text-align: left;
        width: 44.75%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .inner {
        padding-left: 1.2em;
        padding-right: 1.2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .questions ul li h3 {
        max-width: 850px;
    }

    .m-faq label {
        top: 1.35rem;
        left: 5.25rem;
    }

    .links ul {
        grid-gap: 0 9rem;
    }
}